@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quando&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');



/*------------nav-----------*/



*
{
    margin: 0px;
    padding: 0px;
}
.head1
{
color: #ffffff;
font-size: 2.2rem;
font-family: 'Poppins', sans-serif;
}
.head2
{
color: #f35a48;
font-size: 2.2rem;
font-family: 'Poppins', sans-serif;
}
nav
{
    background-color: #3d3d38;
    margin-left: 140px;
    margin-right: 170px;
    height: 90px;
    display: flex;
    position: absolute;
    align-items: center;
    z-index: 1;
}
nav ul
{
    list-style-type: none;
    display: flex;
    margin-left: 250px;
}
nav ul li
{
    font-size: 1.3rem;
    padding-left: 30px;
}
nav ul li a
{
    color: #ffffff;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    display: block;
    position: relative;

}
nav ul li a::after
{
    content: "";
    width:0%;
    height: 2px;
    position: absolute;
    background: red;
    left: 0px;
    bottom: -5px;
    transition: 1s;
}
nav ul li a:hover::after
{
    width:100%
}
.button1
{
    border-color: red;
    height: 45px;
    width: 140px;
    background-color: #4c4c4c;
    margin-left: 172px;
    transition: 2s;
}
.button1 a
{
    text-decoration: none;
    font-size: 17px;
    color: #fff;
    transition: 2s;
    font-family: 'Poppins', sans-serif;
}
.button1:hover
{
    cursor: pointer;
    transform: scale(0.8);
}
.button1 a:hover
{
    cursor: pointer;
    transform: scale(0.8);
}


/*--------------home---------------*/



.home
{
    height: 450px;
    width: 100%;
    background-image: url("../about images/img1.jpg");
    background-size: 100% 450px;
    background-repeat: no-repeat;
}
.overlay
{
    height: 100%;
    width: 100%;
    background-color: #000;
    opacity: 0.5;
}
.heading1
{
    color: #fff;
    font-size: 4rem;
    font-family: 'Quando', serif;
    position: relative;
    bottom: 240px;
    margin-left: 660px;
}
.back
{
    position: relative;
    bottom: 225px;
    margin-left: 670px;
}
.back a
{
    text-decoration: none;
    color: #fff;
    font-size: 22px;
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
}
.back img
{
    height: 18px;
    width: 18px;
    background-color: #fff;
    border-radius: 8px;
    position: relative;
    top: 1px;
}
.back h6
{
    position: relative;
    bottom: 26px;
    margin-left: 110px;
    font-size: 22px;
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    color: #c0cfc4;
}



/*--------------Blog--------------------*/


#blog
{
    height: 500px;
    width: 90%;
    margin-left: 5%;
    margin-top: 50px;
    /*background-color: red;*/
    display: flex;
    flex-direction: row;
}
.blog_heading
{
    margin-top: 50px;
    text-align: center;
    font-family: 'Shrikhand', cursive;
    transition: 1s;
}
.blog1
{
    height: 600px;
    width: 30%;
    margin-left: 2.5%;
    border-radius: 20px;
}
.blog1 img
{
    height: 350px;
    width: 100%;
    border-radius: 20px;
    transition: 1s;
}
.blog1 h5
{
    font-size: 1.2rem;
    margin-top: 30px;
    color: #a0b0a4;
}
.blog1 a
{
    font-size: 1.2rem;
    color: red;
    position: relative;
    left: 170px;
    bottom: 25px;
    text-decoration: none;
}
.blog1 h2 a
{
    font-size: 1.8rem;
    position: relative;
    top: 0px;
    font-weight: bold;
    font-family: 'Lobster', cursive;
    left: 0px;
    color: #000;
}
.blog1 h2 a:hover
{
    color: brown;
}
.blog2
{
    height: 600px;
    width: 30%;
    margin-left: 2.5%;
    border-radius: 20px;
}
.blog2 img
{
    height: 350px;
    width: 100%;
    border-radius: 20px;
}
.blog2 h5
{
    font-size: 1.2rem;
    margin-top: 30px;
    color: #a0b0a4;
}
.blog2 a
{
    font-size: 1.2rem;
    color: red;
    position: relative;
    left: 170px;
    bottom: 25px;
    text-decoration: none;
}
.blog2 h2 a
{
    font-size: 1.8rem;
    position: relative;
    top: 0px;
    font-weight: bold;
    font-family: 'Lobster', cursive;
    left: 0px;
    color: #000;
}
.blog2 h2 a:hover
{
    color: brown;
}
.blog3
{
    height: 600px;
    width: 30%;
    margin-left: 2.5%;
    border-radius: 20px;
}
.blog3 img
{
    height: 350px;
    width: 100%;
    border-radius: 20px;
}
.blog3 h5
{
    font-size: 1.2rem;
    margin-top: 30px;
    color: #a0b0a4;
}
.blog3 a
{
    font-size: 1.2rem;
    color: red;
    position: relative;
    left: 170px;
    bottom: 25px;
    text-decoration: none;
}
.blog3 h2 a
{
    font-size: 1.8rem;
    position: relative;
    top: 0px;
    font-family: 'Lobster', cursive;
    font-weight: normal;
    font-weight: bold;
    left: 0px;
    color: #000;
}
.blog3 h2 a:hover
{
    color: brown;
}


/*-----------footer--------------*/


#main_footer
{
    margin-top: 50px;
    height: 500px;
    width: 100%;
    background-color: black;
}
.foot_contact
{
    display: flex;
    flex-direction: row;
}
.contact1
{
    width: 33%;
    height: 170px;
}
.foot_contact h3
{
    color: #fff;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    margin-left: 110px;
}
.foot_contact h4
{
    margin-left: 110px;
    margin-top: 70px;
    color: red;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: bold;
}
.foot_img img
{
    height: 175px;
    width: 85%;
    margin-left: 110px;
}
.foot_img h2
{
    position: relative;
    bottom: 130px;
    margin-left: 160px;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
}
.foot_img h5
{
    position: relative;
    bottom: 120px;
    margin-left: 160px;
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
}
.foot_mail
{
    position: relative;
    bottom: 175px;
    margin-left: 900px;
}
.foot_mail input[type="email"]
{
    width: 300px;
    height: 45px;
    padding-left: 15px;
}
.foot_mail input[type="email"]:hover
{
    cursor: pointer;
    padding-left: 15px;
    border: none;
}
.foot_mail button
{
    position: relative;
    top: 1px;
    right: 5px;
    height: 48px;
    width: 110px;
    background-image: linear-gradient(90deg,yellow,#f57135,#ec4356);
    border: none;
}
.foot_mail button:hover
{
    cursor: pointer;
}
.foot_mail a
{
    color: #fff;
    font-size: 1.1rem;
    font-family: 'Poppins', sans-serif;
    text-decoration: none   ;
}
.footer_last
{
    position: relative;
    bottom: 40px;
    display: flex;
    flex-direction: row;
}
.footer_last p
{
    color: #fff;
    margin-left: 100px;
    font-size: 18px;
}
.footer_last h5 a
{
    color: #fff;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    margin-left: 80px;
}
.footer_last h5 a:hover
{
    cursor: pointer;
}
.footer_last1
{
    margin-left: 100px;
    position: relative;
    bottom: 17px;
}
.footer_last1 img
{
    background-color: #fff;
    padding: 15px;
    height: 25px;
    margin-left: 20px;
    width: 25px;
    border-radius: 30px;
    transition: 1s;
}
.footer_last1 img:hover
{
    cursor: pointer;
    background-color: #f2d116;
    transform: scale(0.9);
    border-radius: 30px;
}